<mat-card class="detailform">
        <mat-card-title>
            <strong>Login</strong>
        </mat-card-title>
        <mat-card-content>
            <div class="example-container" [formGroup]="form" >
                <mat-form-field>
                    <input matInput placeholder="username" name="username" formControlName="username" required>
                    <mat-error *ngIf="isFieldInvalid('username')">
                        Please inform your user name
                      </mat-error>    
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
                    <mat-error *ngIf="isFieldInvalid('password')">
                        Please inform your password
                      </mat-error>
                </mat-form-field>
                <div class="row">
                    <button mat-raised-button (click)="onSubmit()" >Login</button>
                </div>
            </div>
        </mat-card-content>
</mat-card>