<mat-card class="bgclr">
    <div class="example-container" [hidden]="!myVar">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          
          <button mat-button class="mybutton" (click)="newinvoice()">Add Invoice</button>
        
        </div>
        <div>
          Search results
        </div>
        </div>
        <div *ngIf="user=='client'">
          Invoices
        </div>
        </mat-card>
      <div>
    
        <mat-card class="detailform">
        <mat-card-title>
          List of Invoices</mat-card-title>
        <mat-card-content>  
        <mat-table #table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="accesscode">
            <mat-header-cell *matHeaderCellDef> Access Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.accesscode}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="lastinvoicedate">
            <mat-header-cell *matHeaderCellDef> Last Invoice Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastinvoicedate}} </mat-cell>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-raised-button style="background-color: #BB062F; color:white;">View</button> <button mat-raised-button style="background-color: #BB062F; color:white;">Download</button> </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
      </mat-card>
      
      </div>
      